{% extends "hacksawgolf/base_login.html" %}

{% block title %}Hacksaw Golf{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="login_brand_container">
				<span class="wendy_one medium_green login_brand">
					Hacksaw Golf
				</span>
				<span class="login_heading">Error</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<span>The page you requested does not exist.  Please try going to the <a href="{% url 'home:home' %}">home page</a></span>
		</div>
	</div>
</div>
{% endblock %}