<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th class="col-xs-6 col-sm-4 col-md-3 golfer_column_heading">
				Golfer
			</th>
			<th class="col-xs-2 col-sm-1 golfer_column_heading">
				STP
			</th>
			<th class="col-xs-2 col-sm-1 golfer_column_heading">
				Sts
			</th>
			<th class="col-xs-2 col-sm-1 golfer_column_heading">
				Pkd
			</th>
			<th class="col-sm-5 col-md-6">&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		{% for team_member in team.team_members %}
			<tr>
				<td class="col-xs-6 col-sm-4 col-md-3">
					<span class="visible-xs">
						{{ team_member.golfer_lname }}, {{ team_member.golfer_fname_initial }}
					</span>
					<span class="hidden-xs">
						{{ team_member.golfer_lname }}, {{ team_member.golfer_fname }}
					</span>
				</td>
				<td class="col-xs-2 col-sm-1" >
					{{ team_member.score_to_par_converted }}
				</td>
				<td class="col-xs-2 col-sm-1" >
					{{ team_member.status_converted }}
				</td>
				<td class="col-xs-2 col-sm-1" >
					{{ team_member.times_picked }}
				</td>
				<td class="col-sm-5 col-md-6">&nbsp;</td>
			</tr>
		{% endfor %}
	</tbody>
</table>