{% extends "hacksawgolf/base_login.html" %}

{% block title %}Hacksaw Golf | Forgot Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="login_brand_container">
				<span class="wendy_one medium_green login_brand">
					Hacksaw Golf
				</span>
				<span class="login_heading">Forgot Password</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">

			<div class="well" style="margin-top:5px;">
				Enter the email address you registered with and submit.  You will receive an email with a temporary password and instructions on how to reset your password.  Or <a href="{% url 'login:login' %}">cancel</a> to return to login screen.
			</div>

			{% for error in form.non_field_errors %}
				<div class="alert alert-danger page_error" style="margin-top: 10px;">
					{{ error }}
				</div>
			{% endfor %}

			<form action="{% url 'login:forgot_password' %}" method="post" class="form-horizantal">{% csrf_token %}

				{% for field in form %}

					<div class="form-group {% if field.errors %}has-error{% endif %}">
						{{ field.label_tag }}
						{{ field }}

						{% for error in field.errors %}
							<ul class="text-danger" style="padding-left:0px">{{ error }}</ul>
						{% endfor %}
					</div>

				{% endfor %}

				<button class="btn btn-lg btn-default btn-block" type="submit">Submit</button>

			</form>

		</div>
	</div>
</div>
{% endblock %}