{% extends "hacksawgolf/base_login.html" %}

{% block title %}Hacksaw Golf | Forgot Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="login_brand_container">
				<span class="wendy_one medium_green login_brand">
					Hacksaw Golf
				</span>
				<span class="login_heading">Forgot Password</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="well" style="margin-top:5px;">
				An email with a temporary password and instructions on how to reset your password was sent to {{ view.get_email_password_sent_to }}.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<a class="btn btn-lg btn-default btn-block" href="{% url 'login:login' %}" role="button">Return to login</a>
		</div>
	</div>
</div>
{% endblock %}