{% extends "hacksawgolf/base_login.html" %}

{% block title %}Hacksaw Golf | Register{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="login_brand_container">
				<span class="wendy_one medium_green login_brand">
					Hacksaw Golf
				</span>
				<span class="login_heading">Register</span>
			</div>
		</div>
	</div>

	{% if not view.has_first_tournament_started %}

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">

				{% for error in form.non_field_errors %}
					<div class="alert alert-danger page_error" style="margin-top: 10px;">
						{{ error }}
					</div>
				{% endfor %}

				<form action="{% url 'register:register' %}" method="post" class="form-horizantal">{% csrf_token %}

					{% for field in form %}

						<div class="form-group {% if field.errors %}has-error{% endif %}">
							{{ field.label_tag }}
							{{ field }}

							{% for error in field.errors %}
								<ul class="text-danger" style="padding-left:0px">{{ error }}</ul>
							{% endfor %}
						</div>

					{% endfor %}

					<div class="row" style="margin-bottom:10px;">
						<div class="col-xs-8">
							<button class="btn btn-lg btn-default btn-block" type="submit">Register</button>
						</div>
						<div class="col-xs-4" style="padding-left:0px;">
							<a class="btn btn-lg btn-default btn-block" href="{% url 'login:login' %}" role="button">Cancel</a>
						</div>
					</div>

				</form>
			</div>
		</div>

	{% else %}

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-body bg-warning">
						<span>
							Sorry, registration has closed for the year.  Try back next year!
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<a class="btn btn-lg btn-default btn-block" href="{% url 'login:login' %}" role="button">Return to login</a>
			</div>
		</div>

	{% endif %}

</div>
{% endblock %}