{% extends "hacksawgolf/base_site.html" %}

{% block title %}Hacksaw Golf | Tournaments{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page_heading">
				Tournament List
			</h3>
		</div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="col-xs-1 golfer_column_heading">
					Week
				</th>
				<th class="col-xs-11 col-lg-2 golfer_column_heading">
					Tournament
				</th>
				<th class="visible-lg col-lg-1 golfer_column_heading">
					Start
				</th>
				<th class="visible-lg col-lg-1 golfer_column_heading">
					Winner gets
				</th>
				<th class="visible-lg col-lg-1 golfer_column_heading">
					2nd gets
				</th>
				<th class="visible-lg col-lg-1 golfer_column_heading">
					Multiwin gets
				</th>
				<th class="visible-lg col-lg-2 golfer_column_heading">
					1st place
				</th>
				<th class="visible-lg col-lg-2 golfer_column_heading">
					2nd place
				</th>
			</tr>
		</thead>

		<tbody>
			{% for tournament in tournaments %}
				<tr data-toggle="collapse" data-target="#tournament{{ tournament.tournament_id }}" class="accordion-toggle {% if forloop.counter|divisibleby:2 %}row_even{% else %}row_odd{% endif %}" style="cursor:pointer;">
					<td class="col-xs-1">
						{{ tournament.tournament_week }}
					</td>
					<td class="col-xs-11 col-lg-2">
						{{ tournament.tournament_name }}
					</td>
					<td class="visible-lg col-lg-1">
						{{ tournament.picks_lock_date|date:"F j" }}
					</td>
					<td class="visible-lg col-lg-1">
						{{ tournament.anyone }}
					</td>
					<td class="visible-lg col-lg-1">
						{{ tournament.tournament_second_place_winnings }}
					</td>
					<td class="visible-lg col-lg-1">
						{{ tournament.multiwin }}
					</td>
					<td class="visible-lg col-lg-2">
						{{ tournament.tournament_winner.user_team_name|default:"TBD" }}
					</td>
					<td class="visible-lg col-lg-2">
						{{ tournament.tournament_second_place.user_team_name|default:"N/A" }}
					</td>
				</tr>
				<tr>
				    <td colspan="10" class="hiddenRow">
				        <div class="accordion-body collapse" id="tournament{{ tournament.tournament_id }}">
				        	<table class="table table-condensed" style="font-size:12px;">
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">Type:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.tournament_type.tournament_type }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">Start:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.picks_lock_date|date:"F j" }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">Winner gets:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.anyone }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">2nd gets:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.tournament_second_place_winnings }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">Multi-win gets:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.multiwin }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">1st place:</td>
				        			<td class="col-xs-7 col-sm-10 dark_green bold">{{ tournament.tournament_winner.user_team_name|default:"TBD" }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">1st winnings:</td>
				        			<td class="col-xs-7 col-sm-10 dark_green bold">{{ tournament.tournament_winnings }}</td>
				        		</tr>
				        		<tr>
				        			<td class="col-xs-5 col-sm-2 detail_label">2nd place:</td>
				        			<td class="col-xs-7 col-sm-10">{{ tournament.tournament_second_place.user_team_name|default:"N/A" }}</td>
				        		</tr>
				        	</table>
				        </div>
				    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}