{% extends "hacksawgolf/base_site.html" %}

{% block title %}Hacksaw Golf | Verify Team{% endblock %}

{% block content %}

{% if tournament %}

	<input type="hidden" name="tournament_id" id="tournament_id" value="{{ tournament.tournament_id }}" />

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page_heading">
					Verify Team
					<br />
					<small>{{ tournament.tournament_name }}</small>
				</h3>
			</div>
		</div>

		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th class="col-xs-9 col-sm-4 col-md-3 golfer_column_heading">
						Golfer
					</th>
					<th class="col-xs-2 col-sm-1 golfer_column_heading">
						Salary
					</th>
					<th class="col-xs-1 col-sm-7 col-md-8">&nbsp;</th>
				</tr>
			</thead>

			<tbody>
				{% for selected_golfer in selected_golfers %}
					<tr>
						<td class="col-xs-9 col-sm-4 col-md-3">
							{{ selected_golfer.golfer.golfer_lname }}, {{ selected_golfer.golfer.golfer_fname }}
						</td>
						<td class="col-xs-2 col-sm-1" >
							{{ selected_golfer.salary }}
						</td>
						<td class="col-xs-1 col-sm-7 col-md-8">&nbsp;</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="col-xs-9 col-sm-4 col-md-3">
						Total:
					</td>
					<td class="col-xs-2 col-sm-1" >
						{{ salary_total.salary__sum }}
					</td>
					<td class="col-xs-1 col-sm-7 col-md-8">&nbsp;</td>
				</tr>
			</tbody>
		</table>

		<div class="row" style="margin-top:15px;">
			<div class="col-xs-7 col-md-4">
				<button class="btn btn-lg btn-primary btn-block" id="submit_team_button" type="button" onclick="btnSubmitTeam_click()">Submit team</button>
			</div>
			<div class="col-xs-5 col-md-2">
				<a href="{% url 'team:edit_team' %}" class="btn btn-lg btn-default btn-block" role="button">Edit team</a>
			</div>
		</div>
	</div>

{% else %}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page_heading">
					Verify Team
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 ">
				<div class="panel panel-default">
					<div class="panel-body bg-warning">
						<span>
							You navigated to this page incorrectly.  You should only see this page after selecting your team for a tournament and clicking 'Continue'.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endif %}

{% endblock %}