{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Hacksaw Golf{% endblock %}
		</title>

		<!-- Bootstrap css -->
		<link href="{% static 'hacksawgolf\bootstrap\bootstrap-3.3.7\css\bootstrap.min.css' %}" rel="stylesheet">
		<!--- Hacksaw css --->
		<link href="{% static 'hacksawgolf\css\hacksawgolf.css' %}" rel="stylesheet">

		<!--- Fonts --->
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% block base_content %}
		{% endblock %}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'hacksawgolf/js/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
		<!-- csrf.js (used for getting the csrf token from a cookie to pass in django ajax requests) -->
		<script src="{% static 'hacksawgolf/js/csrf.js' %}" type="text/javascript"></script>
		<!-- Bootstrap js -->
		<script src="{% static 'hacksawgolf/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<!-- datatables jquery plugin -->
		<script src="{% static 'hacksawgolf/js/jquery.dataTables.min.js' %}"></script>
		<!-- Hacsawgolf js -->
		<script src="{% static 'hacksawgolf/js/hacksawgolf.js' %}" type="text/javascript"></script>
	</body>
</html>
